# OS/Editor
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/
._*

# Logs & temp
logs/
*.log
tmp/
.cache/

# Miljøfiler – track IKKE disse
.env
.env.*
*.key
*.pem
*.p12

# Maven target folders ignore
**/target/

# Allow the test certificate to be added to git
!test/nemlogin-signing-test/src/test/resources/TU-Test.p12

# Java app configfiler
examples/nemlogin-signing-webapp/src/main/resources/application.yaml
examples/nemlogin-signing-webapp/target/classes/application.yaml

