<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headFragment"></head>
<body>
<!--/*@thymesVar id="error" type="dk.gov.nemlogin.signing.client.SigningClientError"*/-->
<div>
  <div class="container page-layout">
    <div th:replace="fragments/layout :: headerFragment"></div>

    <div class="page-content">

      <div class="mb-3">
        <span style="float: right">
          <a href="/" class="btn btn-secondary" th:text="#{back}" id="back"></a>
        </span>
        <h2 th:text="#{sign_error.title}"></h2>
      </div>

      <div class="overflow-hidden">
        <table class="table mt-4">
          <tr th:if="${error.timestamp} != null">
            <th th:text="#{sign_error.error.date}"></th>
            <td th:text="${error.timestamp}"/>
          </tr>
          <tr th:if="${error.httpStatusCode} != null">
            <th th:text="#{sign_error.error.status}"></th>
            <td th:text="${error.httpStatusCode}"/>
          </tr>
          <tr th:if="${error.message} != null">
            <th th:text="#{sign_error.error.message}"></th>
            <td th:text="${error.message}"/>
          </tr>

          <tr th:if="${error.correlationId} != null">
            <th th:text="#{sign_error.error.correlationId}"></th>
            <td th:text="${error.correlationId}"/>
          </tr>

          <tr th:if="${not #lists.isEmpty(error.details)} != null" th:each="details, iStat : ${error.details}">
            <th><span th:text="#{sign_error.error.details}"></span> #<span th:text="${iStat.index + 1}"></span></th>
            <td>
              <span class="signing-error-code" th:text="${details.errorCode}">:</span>
              <span th:text="${details.errorMessage}">:</span>
            </td>
          </tr>
        </table>
      </div>

    </div>

    <div th:replace="fragments/layout :: footerFragment"></div>
  </div>

</div>
</body>
</html>
