<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headFragment">
<!--/*@thymesVar id="format" type="String"*/-->
<!--/*@thymesVar id="name" type="String"*/-->
<!--/*@thymesVar id="correlationId" type="String"*/-->
<!--/*@thymesVar id="signedDocumentFilename" type="String"*/-->
<!--/*@thymesVar id="signedDocument" type="String"*/-->
<!--/*@thymesVar id="validationReport" type="dk.gov.nemlogin.signing.validation.model.ValidationReport"*/-->
<meta http-equiv="refresh" content="0; url=@{|/sign.php?action=result&cid=${newCorrelationId}&file=${name}|}">
</head>
<body onload="document.getElementById('link').click()">
<a id="link" th:href="@{|/sign.php?action=result&cid=${newCorrelationId}&file=${name}|}" style="display:none">.</a>
</body>
</html>
