<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headFragment"></head>
<body>
<div>
  <div class="container page-layout">
    <div th:replace="fragments/layout :: headerFragment"></div>

    <div class="page-content">

      <div class="mb-3">
        <span style="float: right">
          <a href="/" class="btn btn-secondary" th:text="#{back}" id="back"></a>
        </span>
        <h2 th:text="#{sign_cancel.title}"></h2>
      </div>

    </div>

    <div th:replace="fragments/layout :: footerFragment"></div>
  </div>

</div>
</body>
</html>
