<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headFragment"></head>
<body>
<!--suppress JSJQueryEfficiency -->
<!--/*@thymesVar id="format" type="String"*/-->
<!--/*@thymesVar id="signingApiUrl" type="String"*/-->
<!--/*@thymesVar id="correlationId" type="String"*/-->
<!--/*@thymesVar id="document" type="dk.gov.nemlogin.signing.model.SignersDocument"*/-->
<!--/*@thymesVar id="timestamp" type="String"*/-->
<div>
  <div class="container page-layout">
    <div th:replace="fragments/layout :: headerFragment"></div>

    <div class="page-content">

      <div class="mb-5">
            <span style="float: right">
              <a href="/" class="btn btn-secondary" id="back">Back</a>
            </span>
        <h2>Signing of <span th:text="${document.name}"></span> as <span th:text="${format}"></span></h2>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="document-viewer" id="document-viewer"></div>
          <div class="sign-in-panel">
            <button type="button" class="btn btn-primary" id="sign-in" disabled>Broker SAML IdP Sign-In</button>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="console-container">
            <div class="console" id="console"></div>
          </div>
        </div>
      </div>
      <canvas id="pdf_canvas"></canvas>

    </div>

    <div th:replace="fragments/layout :: footerFragment"></div>
  </div>
</div>

<script type="application/javascript" th:src="@{/js/signersdk.min.js(v=${timestamp})}"></script>
<script type="application/javascript" th:src="@{/signing/session-creation-key.js}"></script>
<script type="application/javascript" th:src="@{/webjars/pdfjs-dist/build/pdf.js}"></script>
<script type="application/javascript" th:src="@{/webjars/js-base64/3.4.4/base64.js}"></script>
<script type="application/javascript" th:src="@{/webjars/js-sha512/0.8.0/build/sha512.min.js}"></script>
<script type="application/javascript" th:src="@{/js/sap-api-utils.js}"></script>
<script type="application/javascript" th:src="@{/js/signing-api.js}"></script>
<script type="application/javascript" th:src="@{/js/app.js}"></script>

<script th:inline="javascript">
  // Signing payload produced by Broker, containing signature parameters and DTBS.
  const signingPayload = /*[[${signingPayload}]]*/ {};
  const signingApiUrl = /*[[${signingApiUrl}]]*/ {};
  const correlationId = /*[[${correlationId}]]*/ {};
  const timestamp = /*[[${timestamp}]]*/ {};
  let sessionId = undefined;
  let signatureParameters = undefined;


  /** Validates the signing payload, i.e. signature params and DTBS (Data To Be Signed) **/
  async function validateSigningPayload() {
    try {
      ajaxSetup();
      logToConsole(`Validating signing payload:
        signatureParameters: ${trunc(signingPayload.signatureParameters)}
        dtbs: ${trunc(signingPayload.dtbs)}`);

      const res = await beginSignatureFlow(signingPayload.signatureParameters);
      sessionId = ajaxSetup(res.sessionId);
      logToConsole(`Called Signing API -> begin-signature-flow. Result:
        sessionId: ${sessionId}
        securityCode: ${res.securityCode}
        dtbsSignedInfoDigest: ${res.dtbsSignedInfoDigest}
        dtbsSignedInfoDigestAlgorithm: ${res.dtbsSignedInfoDigestAlgorithm}`);

      signatureParameters = parseSignatureParameters(signingPayload.signatureParameters);
      logToConsole(`Parsing signature parameters:
        ${JSON.stringify(signatureParameters)}`);

      logToConsole(`Broker TODO:
        Validate flowType
        Validate DTBS digest algorithm
        Validate stated DTBS digest against computed digest
        Validate stated Signed Info digest against computed digest`);

      initViewer(signatureParameters.documentFormat, signatureParameters.signatureFormat, signingPayload.dtbs);
      logToConsole(`Initialized viewer`);

      logToConsole(`Broker TODO:
        Implement Broker SAML IdP sign-in`);

      $('#sign-in').removeAttr('disabled');
      $("#sign-in").click(signDocument);
      logToConsole(`Awaiting simulated Broker IdP sign-in`);

    } catch (e) {
      logToConsole(`Error: ${parseError(e)}`);
      console.log(e.stack)
    }
  }


  /** Start signing the document - common for both XAdES and PAdES **/
  async function signDocument() {
    $('#sign-in').attr('disabled', 'disabled');
    try {
      const samlPayload = await samlAssertion();
      logToConsole(`Simulated Broker IdP sign-in. Result:
        samlAssertion: ${trunc(samlPayload.samlAssertion)}`);

      const issueCertResponse = await issueCertificate(samlPayload);
      logToConsole(`Called Signing API -> issue-certificate. Result:
        digestToBeSigned: ${issueCertResponse.digestToBeSigned}
        sad: ${trunc(issueCertResponse.sad)}`);

      const signatureValue = await createSignatureVal(issueCertResponse, sessionId, correlationId);
      logToConsole(`Called Cryptomathic Signer Forwarder API. Result:
        signatureValue: ${signatureValue}`);

      if (signatureParameters.signatureFormat === 'XAdES') {
        await signXAdES(signatureValue);
      } else {
        await signPAdES(signatureValue);
      }

      logToConsole(`Done`);

    } catch (e) {
      logToConsole(`Error: ${parseError(e)}`);
      console.log(e.stack)
    }
  }

  function parseError(e){
    if(e.responseText===undefined)
    {
      return e;
    } else {
      return e.responseText;
    }
  }

  /** Continue signing the XAdES document **/
  async function signXAdES(signatureValue) {

    const xadesLtvResponse = await createXadesLtv({signatureValue: signatureValue});
    logToConsole(`Called Signing API -> create-xades-ltv. Result:
        archiveTimeStampInitialContent: ${trunc(xadesLtvResponse.archiveTimeStampInitialContent)}`);

    logToConsole(`Broker TODO:
        Compute LTA timestamp digest from XAdES SignText + LTV response`);

    const ltaTimestampDigest = Base64.btoa(computeSha512Digest("compute proper digest"));
    logToConsole(`Using mock LTA timestamp digest:
        ltaTimestampDigest: ${ltaTimestampDigest}`);

    const xadesLtaResponse = await createXadesLta({timeStampDigestValue: ltaTimestampDigest});
    logToConsole(`Called Signing API -> create-xades-lta. Result:
        signature: ${trunc(xadesLtaResponse.signature)}`);

    logToConsole(`Broker TODO:
        Replace XAdES Signature with LTA signature`);
  }

  /** Continue signing the PAdES document **/
  async function signPAdES(signatureValue) {

    const padesLtvResponse = await createPadesLtv({signatureValue: signatureValue});
    logToConsole(`Called Signing API -> create-pades-ltv. Result:
        cmsSignedData: ${trunc(padesLtvResponse.cmsSignedData)}
        certificates: ${padesLtvResponse.certificates.length} certificates
        ocspResponses: ${padesLtvResponse.ocspResponses.length} OCSP responses`);

    logToConsole(`Broker TODO:
        Replace PAdES Signature with cmsSignedData
        Extend PAdES to PAdES-B-LT with OCSP and cert objects`);

    logToConsole(`Broker TODO:
        Extend PAdES to PAdES-B-LTA with archive timestamp template dict
        Compute PAdES digest`);

    const ltaTimestampDigest = Base64.btoa(computeSha512Digest("compute proper digest"));
    logToConsole(`Using mock LTA timestamp digest:
        ltaTimestampDigest: ${ltaTimestampDigest}`);

    const padesLtaResponse = await createPadesLta({timeStampDigestValue: ltaTimestampDigest});
    logToConsole(`Called Signing API -> create-pades-lta. Result:
        timeStamp: ${trunc(padesLtaResponse.timeStamp)}`);

    logToConsole(`Broker TODO:
        Replace PAdES LTA Signature with timeStamp`);
  }


  // Start by validating the signing payload
  $(document).ready(validateSigningPayload());
</script>

</body>
</html>
